p {
    margin: 10px 0 !important;
}

body {
    background-color: #f8e5e5;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
    color:#fa255e;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}
.n1{
color: #fa255e;
}
.welcome-container {
    padding-left: 800px;
    font-family: monospace;
    /* margin-right: 500px; */
}
.card-content.center-align {

    /* color: white;
    background-color: rgba(12, 145, 145, 0.781); */
    
    
    color: black; 
    background-color: #ddb9bb;
}

.card-content {

    /* color: white;
    background-color: rgba(12, 145, 145, 0.781); */
    
    
    color: rgb(0, 0, 0); 
    font-style: oblique;
    background-color: #ddb9bb;
}

.sidenav {
    color: darkcyan;
    background-color: #ddb9bb;
    border-block: 10px;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
}

li a.active {
    background-color:rgba(12, 145, 145, 0.781);
    color: white;
  }
h1{
    color: #26a69a;
}  
h3{
    color: #26a69a;
}